@import url("./layouts/global.css");
@import url("./layouts/login.css");
@import url("./layouts/saudacao.css");
@import url("./layouts/header.css");
@import url("./layouts/footer.css");

/* pages */

@import url("./layouts/dashboard.css");
@import url("./layouts/menu.css");
@import url("./layouts/painelcads.css");
@import url("./public/styles/layouts/painelcads.css");
@import url("./layouts/cadsveiculos.css");
@import url("./layouts/cadsusuarios.css");
@import url("./layouts/operacoes.css");